@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Shadows+Into+Light&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#teamCardHolder {
  margin-bottom: 100px !important;
}
.custom-btn {
  background-color: rgb(60, 0, 90) !important;
  border: 0px white !important;
}
.custom-btn-light {
  background-color: white !important;
  color: rgb(60, 0, 90) !important;
  border: 1px solid rgb(60, 0, 90) !important;
}
.custom-btn-light:hover {
  color: rgb(60, 0, 90) !important;
  font-weight: 500;
  border: 2px solid;
}

.custom-nav {
  background-color: rgb(60, 0, 90) !important;
  color: white !important;
  height: 100px;
}

.custom-navbrand {
  color: white !important;
  font-size: 50px !important;
}

.custom-navlink {
  color: white !important;
  font-size: 18px !important;
  width: 100px;
}

.custom-nav-collapse {
  background-color: rgb(60, 0, 90) !important;
  padding: 10px;
}

.banner-box {
  height: 700px;
  width: 100%;
  background-color: rgb(243, 243, 243);
  font-size: 75px;
  font-weight: 500;
}

.banner-box-title {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.footer {
  font-size: 20px;
  text-align: center;
  width: 100%;
  background-color: rgb(243, 243, 243)
}

a#api-link {
  color: rgb(60, 0, 90) !important;
  font-weight:600 !important;
  text-transform: uppercase;
  text-decoration: none !important;
}

a.none-nav-link {
  color: inherit !important;
  font-weight: 600 !important;
  text-decoration: none !important;
}

.team-info {
  margin-top: 75px;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
}

.alert {
  font-size: 18px !important;
}