* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#teamCardHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 10px;
}
.custom-btn {
  background-color: brown !important;
}
.custom-btn-light {
  background-color: white !important;
  border: none;
}
.custom-btn-light:hover {
  color: rgb(60, 0, 90) !important;
  font-size: large;
  font-weight: 500;
}

.custom-nav {
  background-color: rgb(60, 0, 90) !important;
  color: white !important;
  height: 100px;
}

.custom-navbrand {
  color: white !important;
  font-size: 50px !important;
}

.custom-navlink {
  color: white !important;
}

.banner-box {
  height: 500px;
  width: 100%;
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  font-weight: 500;
}