* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  position: relative;
} */

#teamCardHolder {
  margin-bottom: 100px !important;
}
.custom-btn {
  background-color: rgb(60, 0, 90) !important;
  border: 0px white !important;
}
.custom-btn-light {
  background-color: white !important;
  color: rgb(60, 0, 90) !important;
  border: 1px solid rgb(60, 0, 90) !important;
}
.custom-btn-light:hover {
  color: rgb(60, 0, 90) !important;
  font-weight: 500;
}

.custom-nav {
  background-color: rgb(60, 0, 90) !important;
  color: white !important;
  height: 100px;
}

.custom-navbrand {
  color: white !important;
  font-size: 50px !important;
}

.custom-navlink {
  color: white !important;
}

.custom-nav-collapse {
  background-color: rgb(60, 0, 90) !important;
  padding: 10px;
}

.banner-box {
  height: 500px;
  width: 100%;
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  font-weight: 500;
}

.footer {
  font-size: 20px;
  text-align: center;
  width: 100%;
  background-color: rgb(243, 243, 243)
}

a#api-link {
  color: rgb(60, 0, 90) !important;
  font-weight:600 !important;
  text-transform: uppercase;
  text-decoration: none !important;
}